<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title> Settings</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="addCommodity()"><ion-icon name="add-outline"></ion-icon></ion-button>
    </ion-buttons>
  </ion-toolbar>

</ion-header>

<ion-content>
  <ion-button (click)="initData()" expand="full">Restore Factory data</ion-button>

  <ion-list>
    <ion-list-header>
      Commodities
    </ion-list-header>

    <ion-item *ngFor="let dt of data">
      <ion-avatar slot="start" (click)="gotoSingle(dt)">
        <img src="../../assets/shapes.svg">
      </ion-avatar>
      <ion-label>
        <h2>{{dt.name}}</h2>
        <h3>{{dt.price}}</h3>
        <p>{{dt.amount}}</p>
      </ion-label>
      <ion-button slot="end" (click)="removeCommodity(dt)"><ion-icon name="trash-bin-outline"></ion-icon></ion-button>
    </ion-item>
  </ion-list>
</ion-content>
